#footer {
		margin-top:40px;
		padding:40px;
		display:block;
		text-align: center;
	}
	.header {
		display:block;
		position:fixed;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		left:0;
		right:0;
	}
